*{
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(22, 22, 22);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.background{
  height: 130%;
  width:45%;
  background-color: aliceblue;
  font-family: Lucida , sans-serif;
  
}