#grid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    background-color: rgb(255, 255, 255);
    grid-template-rows: 1000px;
    gap: 35px;
    position: relative;
    justify-content: center;
    /* align-items: center; */
    top: 40%;
    background-color: rgb(15,15, 15);
    animation-duration: 2s;
}

.lines{
    background-color: rgb(50, 50, 50);
    height: 820px;
    width: 440px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.lines img{
        height: 260px;
        width: 380px;
        box-shadow: 0px 20px 20px 0px;
        position: absolute;
        top: 20%;
}
.lines h2{
    position: absolute;
    top: 50%;
    color: aliceblue;
    font-weight: 900;
    

}
.lines p {
   color: aliceblue ;
   position: relative;
   text-align: center;
   top: 20%;
   padding-top: 10%;
   font-size: 16px;
}