#grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 700px;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 40%;
}

.lines{
    background-color: rgb(0, 246, 164);
    height: 700px;
    width: 400px;
    
}