* {
  margin: 0%;
  padding: 0%;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(15, 15, 15);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
header {
  height: 6.5vh;
  width: 100vw;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
header p a {
  color: rgb(227, 150, 7);
  font-size: 1.5rem;
  position: relative;
  top: 20px;
  left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1000;
}
header p a:hover {
  color: rgb(255, 255, 255);
  transition: 3s;
}
.one1 {
  text-align: center;
  position: relative;
  color: aliceblue;
  font-size: 2.3rem;
  font-weight: bolder;
}
.one {
  position: relative;
  top: 3%;
}
.one2 {
  text-align: center;
  position: relative;
  top: 5%;
  font-size: 1.3rem;
}
.one2_1 {
  color: rgb(150, 147, 147);
  font-weight: bolder;
  padding-bottom: 10px;
}

.sub {
  display: flex;
  justify-content: center;
  /* font-weight: bolder; */
  gap: 10px;
  display: inline-flex;
  padding-bottom: 10px;
  position: relative;
  top: 20%;
}
.sub1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 10%;
}
.one0_1 {
  font-weight: bolder;
  font-size: 1.3rem;
  position: relative;
  top: -10%;
}
.one0_2 {
  font-weight: bolder;
  font-size: 1.3rem;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20px;
  height: 15%;
  align-items: center;
}
.btn {
  background-color: #3498db;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
}
.btn {
  width: 100%;
  max-width: 230px;
  max-height: 50px;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  transition: 1s;
}
.btn:hover {
  color: rgb(227, 150, 7);
  transition: 0.5s;
}
.w3-animate-bottom {
  position: relative;
  height: 30vh;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  /* overflow: auto; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  animation-duration: 1s;
}
.box {
  position: absolute;
  height: 58vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  top: -1%;
  color: aliceblue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;

  gap: 20px;
  /* font-weight: bolder; */
}
.a,
.b,
.c {
  position: relative;
  top: -18%;
}
.box1 {
  font-size: 3.5rem;
  display: flex;
  position: relative;
  gap: 20px;
  justify-content: center;
  top: 90%;
}

.c1 {
  font-weight: bolder;
  color: aliceblue;
}

.subQuote {
  font-family: "Roboto", sans-serif;
  font-family: "Tilt Neon", sans-serif;
  font-size: 1rem;
  text-align: center;
  position: relative;
  top: 120%;
  color: aliceblue;
}



 /* second page starts here */




 .emptyspace1{
  height: 25vh;
  width: 100%;
  position: relative;
  top: 27%;
 }


.grid {
  display: grid;
  background-color: #fff ;
  grid-template-columns:  400px auto auto auto;
  grid-template-rows:  700px auto;
  align-items: center;

}
.grid1{
 
 background-color: #3498db;

}
